<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1 class="text-center title-1"> Error </h1>
    <hr class="center-block small text-hr">
    <h2><%= error.status %></h2>
    <p>
        <%= error.stack %>
    </p>
</body>
</html>
